<div class="container">
  <form (ngSubmit)="send()" #form="ngForm">
    <div>
      <label >Address1</label>
      <input type="text" [(ngModel)]="address.streetAddress1" (ngModelChange)="check()" name="address1"/>
    </div>
    <div>
      <label >Address2</label>
      <input type="text" [(ngModel)]="address.streetAddress2" name="address2"/>
    </div>
    <div>
      <label >City</label>
      <input type="text" [(ngModel)]="address.city" name="city"/>
    </div>
    <div>
      <label >TX</label>
      <input type="text"  [(ngModel)]="address.state" name="state"/>
    </div>
    <div>
      <label >Zip</label>
      <input type="text"  [(ngModel)]="address.zipcode"  name="zipcode"/>
    </div>
    <div>
      <label >Button</label>
      <input type="submit"  name="button"/>
    </div>
  </form>
</div>
<hr>
<div *ngIf="url">

  <button type="button" class="btn btn-primary" (click)="screenShot()">Take Photo</button>
  <br>

  <div id ="map">
      <agm-map [latitude]="map.location.lat" [longitude]="map.location.lng" [mapTypeId]="'satellite'"
      [zoom] ="map.zoom">
          <agm-marker [latitude]="map.location.lat" [longitude]="map.location.lng"></agm-marker>
      </agm-map>
  </div>

</div>
